<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Save Book</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div class="container">

      <h3>Book Registration</h3>

        <hr>

      <form action="#" th:action="@{/book/add}"
                        th:object="${book}" method="POST">

        <!--Adding hidden form field to handle the update-->
        <input type="hidden" th:field="*{id}"/>

        <input type="hidden" th:field="*{category}" th:value="${categoryRecord}" />

        <input type="text" th:field="*{title}"
                class="form-control mb4 w-25" placeholder="Title">

        <!-- You can use a similar appproach here -->
        <input type="text" th:field="*{author.firstName}"
               class="form-control mb4 w-25" placeholder="Author First Name">

        <input type="text" th:field="*{author.lastName}"
               class="form-control mb4 w-25" placeholder="Author Last Name">
        <!------------------------------------------>

        <!-- List of categories -->
        <ul id="categoryList" class="list-group mb-4 w-25">
          <li th:each="category : ${categories}" class="list-group-item category-item" th:attr="data-id=${category.id}" th:text="${category.name}"></li>
        </ul>

        <!-- Input field for new category name and id -->
        <input id="categoryName" type="text" name="categoryName" class="form-control mb4 w-25" placeholder="New Category Name">
        <input id="categoryId" type="hidden" name="categoryId">

        <!--need to create space between save button-->
        <hr>
        <button type="submit" class="btn btn-info col-2">Save</button>

      </form>

      <hr>
      <a th:href="@{/book/list}">Back to Book List</a>
    </div>


    <!-- The script should be placed in a separate JS file and imported -->
    <script>
        // catch required elements using pure js
        let catList = document.getElementById('categoryList');
        let catId = document.getElementById('categoryId');
        let catName = document.getElementById('categoryName');

        // attach click event to it
        catList.addEventListener('click', function(event) {
          if (event.target.tagName === 'LI') {
              catId.value = event.target.getAttribute("data-id");
              catName.value = event.target.innerText;
          }
        });
    </script>

</body>
</html>