<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Save Book</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div class="container">

      <h3>Book Registration</h3>

        <hr>

      <form action="#" th:action="@{/book/add}" th:object="${book}" method="POST">

        <!-- Adding hidden form field to handle the update -->
        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{title}" class="form-control mb4 w-25" placeholder="Title">
        <br>
        <!-- Text boxes for the author's first name and last name -->
        <input type="text" id="authorFirstName" th:field="*{author.firstName}" class="form-control mb4 w-25" placeholder="Author's First Name">
        <input type="text" id="authorLastName" th:field="*{author.lastName}" class="form-control mb4 w-25" placeholder="Author's Last Name">

        <!-- Dropdown menu for selecting authors -->
        <select id="authorDropdown" class="form-control mb4 w-25" onchange="fillAuthorData()">
          <option value="" selected>-- Select Author --</option>
          <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName + ' ' + author.lastName}"></option>
        </select>

        <!-- Button to copy selected author's data -->
        <button type="button" class="btn btn-info col-2" onclick="copyAuthorData()">Select author</button>

        <!-- Submit button -->
        <button type="submit" class="btn btn-info col-2">Save</button>
      </form>

      <hr>
      <a th:href="@{/book/list}">Go to book's list</a>
      <br>
      <a th:href="@{/author/list}">Go to author's list</a>
    </div>

</body>
</html>

<script>
  function copyAuthorData() {
    var dropdown = document.getElementById("authorDropdown");
    var authorFirstNameTextbox = document.getElementById("authorFirstName");
    var authorLastNameTextbox = document.getElementById("authorLastName");

    var selectedAuthorIndex = dropdown.selectedIndex;
    if (selectedAuthorIndex > 0) {
      var selectedAuthor = dropdown.options[selectedAuthorIndex];
      var authorFullName = selectedAuthor.text.split(" ");
      authorFirstNameTextbox.value = authorFullName[0];
      authorLastNameTextbox.value = authorFullName[1];
    } else {
      authorFirstNameTextbox.value = "";
      authorLastNameTextbox.value = "";
    }
  }
</script>