<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

<div class="container">

    <h3>Book Directory</h3>
    <hr>

    <a th:href="@{/home}"
       class="btn btn-primary btn-sm mb-3">
        Home
    </a>

    <a th:href="@{/books/registration}"
       class="btn btn-primary btn-sm mb-3">
        Add
    </a>

    <a th:href="@{/books/search}"
       class="btn btn-primary btn-sm mb-3">
        Find
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Author First Name</th>
                <th>Author Last Name</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        <tr th:each="tempBook : ${book}">
            <td th:text="${tempBook.title}"></td>
            <td th:text="${tempBook.authorFirstName != null ? tempBook.authorFirstName : '' }"></td>
            <td th:text="${tempBook.authorLastName != null ? tempBook.authorLastName : '' }"></td>
            <td th:text="${tempBook.category != null ? tempBook.category : '' }"></td>

            <!--add update button link-->
            <td>
                <a th:if="${tempBook.id != null}" th:href="@{/books/update(id=${tempBook.id})}"
                   class="btn btn-primary btn-sm mb-3">
                    Update
                </a>
                <!--add delete button link-->
                <a th:if="${tempBook.id != null}" th:href="@{/books/delete/{bookId}(bookId=${tempBook.id})}"
                   class="btn btn-danger btn-sm mb-3"
                   onclick="if (!(confirm('Are you sure you want to delete this book?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        <tr th:unless="${book != null}">
            <td colspan="3">Book not found</td>
        </tr>
        </tbody>
    </table>

    <hr>
    <a th:href="@{/authors/list}">Go to author's list</a>
    <br>
    <a th:href="@{/books/list}">Go to book's list</a>
</div>
</body>
</html>