<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Categories</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

<div class="container">

    <h3>Category Directory</h3>
    <hr>

    <div class="d-flex justify-content-between mb-3">
        <div>
            <a th:href="@{/home}" class="btn btn-primary btn-sm">Home</a>
            <a th:href="@{/categories/registration}" class="btn btn-primary btn-sm">Add</a>
            <a th:href="@{/categories/search}" class="btn btn-primary btn-sm">Find</a>
        </div>
        <div>
            <a th:href="@{/books/list}" class="btn btn-primary btn-sm">Books</a>
            <a th:href="@{/authors/list}" class="btn btn-primary btn-sm">Authors</a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Category</th>
                <th>Book</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        <tr th:each="tempCategory : ${category}">
            <td th:text="${tempCategory.name}"></td>
            <td>
                <ul style="list-style-type: none;">
                    <li th:each="title : ${tempCategory.titles}" th:text="${title}"></li>
                </ul>
            </td>
            <td>
                <ul style="list-style-type: none;">
                    <li th:if="${not #lists.isEmpty(tempCategory.authorFirstNames)}" th:each="index : ${#numbers.sequence(0, tempCategory.authorFirstNames.size() - 1)}">
                        <span th:text="${tempCategory.authorFirstNames[index] + ' ' + tempCategory.authorLastNames[index]}"></span>
                    </li>
                </ul>
            </td>

            <!--add update button link-->
            <td>
                <a th:if="${tempCategory.id != null}" th:href="@{/categories/update(categoryId=${tempCategory.id})}"
                   class="btn btn-primary btn-sm mb-3">
                    Update
                </a>
                <!--add delete button link-->
                <a th:if="${tempCategory.id != null}" th:href="@{/categories/delete/{categoryId}(categoryId=${tempCategory.id})}"
                   class="btn btn-danger btn-sm mb-3"
                   onclick="if (!(confirm('Are you sure you want to delete this category?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(category)}">
            <td colspan="3">No such category found</td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between mb-3">
        <div>
            <a th:href="@{/home}" class="btn btn-primary btn-sm">Home</a>
            <a th:href="@{/categories/registration}" class="btn btn-primary btn-sm">Add</a>
            <a th:href="@{/categories/search}" class="btn btn-primary btn-sm">Find</a>
        </div>
        <div>
            <a th:href="@{/books/list}" class="btn btn-primary btn-sm">Books</a>
            <a th:href="@{/authors/list}" class="btn btn-primary btn-sm">Authors</a>
        </div>
    </div>
</div>
</body>
</html>